{% extends 'parts/main.html' %}

{% block content %}

<style>
    .header-content {

        font-family: 'Philosopher';

    }
</style>

<main>
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker header-content">
        <h1
            class="text-2xl font-semibold text-transparent  header-content bg-clip-text bg-gradient-to-br from-purple-800 to-purple-500">
            {{judul}}</h1>
        <p class="dataView" hidden> {{dataView}} </p>
    </div>

    <!-- Content -->
    <div class="mt-2">

        <!-- Charts -->
        <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-1">

            <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h2
                        class="text-2xl font-semibold header-content bg-clip-text bg-gradient-to-br from-purple-800 to-purple-500">
                        Table</h2>
                    <div class="flex items-center">
                        <button class="relative focus:outline-none">
                            <div
                                class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker">
                            </div>
                            <div class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }">
                            </div>
                        </button>
                    </div>
                </div>


                <!-- Table -->

                <!--Container-->

                <style>
                    /*Form fields*/
                    .dataTables_wrapper select,
                    .dataTables_wrapper .dataTables_filter input {
                        color: #4a5568;
                        /*text-gray-700*/
                        padding-left: 1rem;
                        /*pl-4*/
                        padding-right: 1rem;
                        /*pl-4*/
                        padding-top: .5rem;
                        /*pl-2*/
                        padding-bottom: .5rem;
                        /*pl-2*/
                        line-height: 1.25;
                        /*leading-tight*/
                        border-width: 2px;
                        /*border-2*/
                        border-radius: .25rem;
                        border-color: #edf2f7;
                        /*border-gray-200*/
                        background-color: #edf2f7;
                        /*bg-gray-200*/
                    }

                    /*Row Hover*/
                    table.dataTable.hover tbody tr:hover,
                    table.dataTable.display tbody tr:hover {
                        background-color: #ebf4ff;
                        /*bg-indigo-100*/
                    }

                    /*Pagination Buttons*/
                    .dataTables_wrapper .dataTables_paginate .paginate_button {
                        font-weight: 700;
                        /*font-bold*/
                        border-radius: .25rem;
                        /*rounded*/
                        border: 1px solid transparent;
                        /*border border-transparent*/
                    }

                    /*Pagination Buttons - Current selected */
                    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
                        color: #fff !important;
                        /*text-white*/
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
                        /*shadow*/
                        font-weight: 700;
                        /*font-bold*/
                        border-radius: .25rem;
                        /*rounded*/
                        background: #667eea !important;
                        /*bg-indigo-500*/
                        border: 1px solid transparent;
                        /*border border-transparent*/
                    }

                    /*Pagination Buttons - Hover */
                    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                        color: #fff !important;
                        /*text-white*/
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
                        /*shadow*/
                        font-weight: 700;
                        /*font-bold*/
                        border-radius: .25rem;
                        /*rounded*/
                        background: #667eea !important;
                        /*bg-indigo-500*/
                        border: 1px solid transparent;
                        /*border border-transparent*/
                    }

                    /*Add padding to bottom border */
                    table.dataTable.no-footer {
                        border-bottom: 1px solid #e2e8f0;
                        /*border-b-1 border-gray-300*/
                        margin-top: 0.75em;
                        margin-bottom: 0.75em;
                    }

                    /*Change colour of responsive icon*/
                    table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
                    table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
                        background-color: #667eea !important;
                        /*bg-indigo-500*/
                    }
                </style>

                <!--Table-->
                <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                    <!--Tombol di Tabel-->
                    <div class="mb-10">
                        <div class="float-right mb-14">

                            <a href="{% url 'addSingleLonglist' %}">
                                <button
                                    class="text-sm bg-gray-300 hover:bg-green-500 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center ">
                                    <span>Add Single Data</span>
                                </button>
                            </a>

                        </div>
                    </div>

                    <table id="example" class="stripe hover display nowrap text-center mt-4"
                        style="width:100%; padding-top: 1em;  padding-bottom: 1em;">

                    </table>

                </div>
            </div>

        </div>


    </div>
    <!-- Content -->
    <div class="mt-2">


    </div>
</main>

<script type="text/javascript">
    var dataURL = "{{dataView}}";
</script>

<script>

    $(document).ready(function () {


        let table = AjaxDatatableViewUtils.initialize_table(
            $('#example'),
            '/ajax_datatable/' + dataURL,
            {
                // extra_options (example)
                processing: true,
                autoWidth: false,
                full_row_select: false,
                lengthChange: false,
                scrollX: true,
                dom: 'Bfrtip',
                buttons: [
                    'pageLength', {
                        extend: "csv", className: "text-sm bg-red-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
                    }, 'excel', 'pdf', 'colvis'

                ]
            }, {
            // extra_data
            // ...
        },

        );
    });

</script>

{% endblock %}