{% extends 'parts/main.html' %}
{% load static %}
{% block content %}
<main>

    <!--Modal-->
    <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
        id="modal-id">
        <div class="relative w-auto my-6 mx-auto max-w-3xl">
            <!--content-->
            <div
                class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                <!--header-->
                <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                    <h3 class="text-3xl font-semibold">
                        Hasil Analisis Korelasi
                    </h3>

                </div>
                <!--body-->
                <div class="relative p-6 flex-auto">
                    <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                        Keterangan Tabel
                    </p>
                    <button
                        class="text-sm bg-gray-300 hover:bg-blue-500 hover:text-white text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center ease-linear transition-all duration-150"
                        type="button" onclick="toggleModal('modal-id')">

                        <span>Tutup Tabel</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>


    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold">{{judul}}</h1>
    </div>

    <!-- Content -->
    <div class="mt-2">

        <!-- Main Content -->
        <div class="flex items-center justify-between p-4 border-b dark:border-primary">
            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Hasil Regresi</h4>
        </div>
        <div class="w-full my-4 justify-center items-center content-center p-4">

            <img src="{% static 'images/ss-regresi.png' %}" width="75%" class="">

        </div>
    </div>
</main>



<script>

    $(document).ready(function () {

        $("#tujuan-data").show();
        $("#sasaran-data").hide();
        $("#output-data").hide();
        $("#aktivitas-data").hide();


        $("#tujuan-toggle").click(() => {
            $("#tujuan-data").toggle();
            $("#sasaran-data").hide();
        })

        $("#sasaran-toggle").click(() => {
            $("#sasaran-data").toggle();
            $("#output-data").hide();
            $("#aktivitas-data").hide();
        })

        $("#output-toggle").click(() => {
            $("#output-data").toggle();
            $("#aktivitas-data").hide();
        })

        $("#aktivitas-toggle").click(() => {
            $("#aktivitas-data").toggle();
        })

    });

    function toggleModal(modalID) {
        document.getElementById(modalID).classList.toggle("hidden");
        document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
        document.getElementById(modalID).classList.toggle("flex");
        document.getElementById(modalID + "-backdrop").classList.toggle("flex");
    }


</script>

{% endblock %}