{% extends 'parts/main.html' %}

{% block content %}
<main x-data="{ showModal2: false}" :class="{'overflow-y-hidden': showModal2 }">
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold">{{judul}}</h1>
        <p class="dataView" hidden> {{dataView}} </p>
    </div>

    <!-- Content -->
    <div class="mt-2">


        <div class="embed-container pr-5 pl-5">
            <br><iframe width="100%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                title="Rakortekrenbang"
                src="https://geospasial.bappenas.go.id/portal/apps/opsdashboard/index.html#/6d57f95a98ae411181dae1c4e2b32e93">
            </iframe>
        </div>
        <!-- Charts -->
        <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-1">
            <!-- Map Area -->
            <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Table</h4>
                    <div class="flex items-center">
                        <button class="relative focus:outline-none">
                            <div
                                class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker">
                            </div>
                            <div class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }">
                            </div>
                        </button>
                    </div>
                </div>


                <!-- Table -->

                <!--Container-->

                <style>
                    /*Form fields*/
                    .dataTables_wrapper select,
                    .dataTables_wrapper .dataTables_filter input {
                        color: #4a5568;
                        /*text-gray-700*/
                        padding-left: 1rem;
                        /*pl-4*/
                        padding-right: 1rem;
                        /*pl-4*/
                        padding-top: .5rem;
                        /*pl-2*/
                        padding-bottom: .5rem;
                        /*pl-2*/
                        line-height: 1.25;
                        /*leading-tight*/
                        border-width: 2px;
                        /*border-2*/
                        border-radius: .25rem;
                        border-color: #edf2f7;
                        /*border-gray-200*/
                        background-color: #edf2f7;
                        /*bg-gray-200*/
                    }

                    /*Row Hover*/
                    table.dataTable.hover tbody tr:hover,
                    table.dataTable.display tbody tr:hover {
                        background-color: #ebf4ff;
                        /*bg-indigo-100*/
                    }

                    /*Pagination Buttons*/
                    .dataTables_wrapper .dataTables_paginate .paginate_button {
                        font-weight: 700;
                        /*font-bold*/
                        border-radius: .25rem;
                        /*rounded*/
                        border: 1px solid transparent;
                        /*border border-transparent*/
                    }

                    /*Pagination Buttons - Current selected */
                    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
                        color: #fff !important;
                        /*text-white*/
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
                        /*shadow*/
                        font-weight: 700;
                        /*font-bold*/
                        border-radius: .25rem;
                        /*rounded*/
                        background: #667eea !important;
                        /*bg-indigo-500*/
                        border: 1px solid transparent;
                        /*border border-transparent*/
                    }

                    /*Pagination Buttons - Hover */
                    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                        color: #fff !important;
                        /*text-white*/
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
                        /*shadow*/
                        font-weight: 700;
                        /*font-bold*/
                        border-radius: .25rem;
                        /*rounded*/
                        background: #667eea !important;
                        /*bg-indigo-500*/
                        border: 1px solid transparent;
                        /*border border-transparent*/
                    }

                    /*Add padding to bottom border */
                    table.dataTable.no-footer {
                        border-bottom: 1px solid #e2e8f0;
                        /*border-b-1 border-gray-300*/
                        margin-top: 0.75em;
                        margin-bottom: 0.75em;
                    }

                    /*Change colour of responsive icon*/
                    table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
                    table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
                        background-color: #667eea !important;
                        /*bg-indigo-500*/
                    }
                </style>

                <!--Table-->
                <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                    <!--Tombol di Tabel-->
                    <div class="mb-10">
                        <!-- <button
                            class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20">
                                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                            </svg>
                            <span>Excel</span>
                        </button>

                        <button
                            class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20">
                                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                            </svg>
                            <span>CSV</span>
                        </button>

                        <button
                            class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20">
                                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                            </svg>
                            <span>PDF</span>
                        </button> -->

                        <div class="float-right">

                            <a href="{% url 'addSingleLonglist' %}">
                                <button
                                    class="text-sm bg-gray-300 hover:bg-green-500 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center ">
                                    <span>Add Single Data</span>
                                </button>
                            </a>

                            <button
                                class="text-sm bg-gray-300 hover:bg-yellow-500 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center show-modal toggle-vis"
                                data-column="0">

                                <span>Import CSV</span>
                            </button>

                        </div>
                    </div>

                    <table id="example" class="stripe hover display nowrap text-center mt-4"
                        style="width:100%; padding-top: 1em;  padding-bottom: 1em;">

                    </table>

                </div>
            </div>
        </div>


    </div>
    <!-- Content -->
    <div class="mt-2">

        <!-- Three grid columns -->
        <div class="grid grid-cols-3 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-3">
            <!-- Active users chart -->
            <div class="col-span-1 bg-white rounded-md dark:bg-darker">
                <!-- Card header -->
                <div class="p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Grafik Jumlah Status Approval
                    </h4>
                </div>
                <!-- Chart -->
                <div class="relative p-4">
                    <canvas id="firstChart" data-url="{% url 'provchart' %}" width="500px" height="500px"></canvas>
                </div>
            </div>

            <!-- Line chart card -->
            <div class="col-span-1 bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Grafik Jumlah Kegiatan per
                        Kementrian / Lembaga
                    </h4>
                    <div class="flex items-center">
                        <button class="relative focus:outline-none" x-cloak
                            @click="isOn = !isOn; $parent.updateLineChart()">
                            <div
                                class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker">
                            </div>
                            <div class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }">
                            </div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4">
                    <canvas id="secondChart" data-url="{% url 'rochart' %}" width="500px" height="500px"></canvas>
                </div>
            </div>

            <div class="col-span-1 bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Grafik Kegiatan per Jenis Pembiayaan
                    </h4>
                    <div class="flex items-center">
                        <button class="relative focus:outline-none" x-cloak
                            @click="isOn = !isOn; $parent.updateLineChart()">
                            <div
                                class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker">
                            </div>
                            <div class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }">
                            </div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4">
                    <canvas id="thirdChart"></canvas>
                </div>
            </div>
        </div>

    </div>
</main>

<script type="text/javascript">
    var dataURL = "{{dataView}}";
</script>

<script>

    $(document).ready(function () {


        let table = AjaxDatatableViewUtils.initialize_table(
            $('#example'),
            '/ajax_datatable/' + dataURL,
            {
                // extra_options (example)
                processing: true,
                autoWidth: false,
                full_row_select: false,
                lengthChange: false,
                scrollX: true,
                dom: 'Bfrtip',
                buttons: [
                    'pageLength', 'csv', 'excel', 'pdf', 'colvis'

                ]
            }, {
            // extra_data
            // ...
        },

        );

        // $('button.toggle-vis').on('click', function (e) {
        //     e.preventDefault();

        //     // Get the column API object
        //     var column = table.column($(this).attr('data-column'));

        //     // Toggle the visibility
        //     column.visible(!column.visible());
        // });


        var $roProvinsi = $("#firstChart");
        var $roKemela = $("#secondChart")

        $.ajax({
            url: $roProvinsi.data("url"),
            success: function (data) {

                var ctx = $roProvinsi[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Jumlah Status per Kegiatan',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.5)',
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: false //this will remove only the label
                                }
                            }]
                        }
                    }
                });

            }
        });

        $.ajax({
            url: $roKemela.data("url"),
            success: function (data) {

                var ctx = $roKemela[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Jumlah Kegiatan per Kementrian / Lembaga',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.5)',
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: false //this will remove only the label
                                }
                            }]
                        }
                    }
                });

            }
        });


    });




    // var ct1 = document.getElementById('firstChart');
    // var ct2 = document.getElementById('secondChart');
    var ct3 = document.getElementById('thirdChart');


    const data = {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    }

    const options = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }

    // var firstChart = new Chart(ct1, {
    //     type: 'bar',
    //     data: data,
    //     options: options
    // });

    // var secondChart = new Chart(ct2, {
    //     type: 'bar',
    //     data: data,
    //     options: options
    // });

    var thirdChart = new Chart(ct3, {
        type: 'pie',
        data: data,
        options: options
    });

</script>

{% endblock %}