{% extends 'parts/main.html'%}




{% block content %}

<style>
    .embed-container {
        position: relative;
        padding-bottom: 40%;
        height: 100%;
        max-width: 100%;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container iframe {
        position: absolute;
        top: 0;
        left: 2%;
        width: 95%;
        height: 100%;
    }

    small {
        position: absolute;
        z-index: 40;
        bottom: -50;
        margin-bottom: -100px;
    }
</style>

<main>
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold">Dashboard Utama</h1>
    </div>

    <!-- Content -->
    <div class="mt-2">
        <!-- State cards -->
        <div class="grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">
            <!-- Status card: Diakomodir -->
            <div
                class="flex items-center justify-between p-4 bg-gradient-to-r from-green-600 to-green-400 rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-white uppercase dark:text-primary-light ">
                        Diakomodir
                    </h6>
                    <span class="text-xl font-semibold text-white">200</span>
                </div>
            </div>

            <!-- Status card: Dibahas Lebih Lanjut -->
            <div
                class="flex items-center justify-between p-4 bg-gradient-to-r from-yellow-500 to-yellow-400 rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-white uppercase dark:text-primary-light ">
                        Dibahas Lebih Lanjut
                    </h6>
                    <span class="text-xl font-semibold text-white">200</span>
                </div>
            </div>

            <!-- Status card: Ditolak -->
            <div
                class="flex items-center justify-between p-4 bg-gradient-to-r from-red-500 to-red-400 rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-white uppercase dark:text-primary-light ">
                        Ditolak
                    </h6>
                    <span class="text-xl font-semibold text-white">200</span>
                </div>
            </div>

            <!-- Status card: Total RO -->
            <div
                class="flex items-center justify-between p-4 bg-gradient-to-r from-gray-500 to-gray-400 rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-white uppercase dark:text-primary-light ">
                        Total RO
                    </h6>
                    <span class="text-xl font-semibold text-white">200</span>
                </div>
            </div>



        </div>

        <!-- Main Map -->

        <div class="embed-container">
            <br><iframe width="500" height="10" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                title="Rakortekrenbang"
                src="//geospasial.bappenas.go.id/portal/apps/Embed/index.html?webmap=1b7e084a1bcc41b98814bae9b1feaf9c&extent=91.2006,-15.1554,134.267,2.6814&home=true&zoom=true&previewImage=false&scale=true&search=true&searchextent=true&details=true&legend=true&active_panel=details&basemap_gallery=true&disable_scroll=false&theme=light">
            </iframe>
        </div>

        <br>

        <!-- Arcgis dashboard -->

        <div class="embed-container">
            <br><iframe width="500" height="10" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                title="Rakortekrenbang"
                src="//geospasial.bappenas.go.id/portal/apps/opsdashboard/index.html#/b7e78979f26a47b5aef9fb606b03dd4a">
            </iframe>
        </div>

        <!-- Two grid columns -->
        <div class="grid grid-cols-3 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-3">
            <!-- Active users chart -->
            <div class="col-span-1 bg-gradient-to-r from-white to-gray-100 rounded-md dark:bg-darker">
                <!-- Card header -->
                <div class="p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">API
                        now</h4>
                </div>
                <!-- Chart -->
                <div class="relative p-4">
                    <canvas id="activeUsersChart"></canvas>
                </div>
            </div>

            <!-- Line chart card -->
            <div class="col-span-1 bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Rangkuman Profil Daerah</h4>
                    <div class="flex items-center">
                        <button class="relative focus:outline-none" x-cloak
                            @click="isOn = !isOn; $parent.updateLineChart()">
                            <div
                                class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker">
                            </div>
                            <div class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }">
                            </div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4 h-72">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>

            <div class="col-span-1 bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">API dari Simrenas & TRPB</h4>
                    <div class="flex items-center">
                        <button class="relative focus:outline-none" x-cloak
                            @click="isOn = !isOn; $parent.updateLineChart()">
                            <div
                                class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker">
                            </div>
                            <div class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }">
                            </div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <canvas id="myChart" data-url="{% url 'rochart' %}" width="400" height="400"></canvas>
            </div>
        </div>

    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>

    var $roChart = $("#firstChart");

    $.ajax({
        url: $roChart.data("url"),
        success: function (data) {

            var ctx = $roChart[0].getContext("2d");

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Nama Kementrian Lembaga',
                        backgroundColor: 'blue',
                        data: data.data
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Population Bar Chart'
                    }
                }
            });

        }
    });

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}