{% extends 'parts/main.html' %}

{% block content %}
<main>

    <!--Modal-->
    <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
        id="modal-id">
        <div class="relative w-auto my-6 mx-auto max-w-3xl">
            <!--content-->
            <div
                class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                <!--header-->
                <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                    <h3 class="text-3xl font-semibold">
                        Keterangan
                    </h3>

                </div>
                <!--body-->
                <div class="relative p-6 flex-auto">
                    <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                        Keterangan Tabel
                    </p>
                    <button
                        class="text-sm bg-gray-300 hover:bg-blue-500 hover:text-white text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center ease-linear transition-all duration-150"
                        type="button" onclick="toggleModal('modal-id')">

                        <span>Tutup Tabel</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>


    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold">Kajian Kewilayahan</h1>
    </div>

    <!-- Content -->
    <div class="mt-2">

        <!-- Main Content -->
        <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-1">
            <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Main Content header -->
                <div class="flex items-center justify-between p-4">
                    <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
                        <div class="w-full text-center pb-8">
                        </div>
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6">
                            <div class="bg-white rounded-lg p-6 shadow-lg">
                                <div class="flex items-center space-x-6 mb-4">
                                    <img class="h-28 w-28 object-cover object-center rounded-full"
                                        src="https://images.wallpapersden.com/image/download/indonesia-pekanbaru_bGdnZW2UmZqaraWkpJRobWllrWdma2U.jpg"
                                        alt="photo">
                                    <div>
                                        <p class="text-xl text-gray-700 font-bold mb-1">Model Spasial Dinamis</p>

                                    </div>
                                </div>
                                <div>
                                    <h4 class="text-gray-400 leading-loose font-normal text-base">Dalam mengkoordinasikan perencanaan pembangunan secara Tematik, Integratif, Holistik, dan Spasial (THIS), Membutuhkan adanya mekanisme pemantauan dan evaluasi yang berbasis data spasial. Mekanisme pemantauan dan evaluasi berbasis spasial perlu replikasi dan penerapan, antara lain:
                                        KI Kemingking (Muaro Jambi) 
                                        KI Terpadu Batang (Batang)
                                        KEK Sei Mangkei (Simalungun). Kajian ini merupakan kelanjutan dari kegiatan :
                                        Kajian pengembangan mekaniksme Monev Spasial di KI Bitung 2017
                                        Kajian Pemantapan dan Replikasi Mekanisme Monev Berbasis Spasial KEK Sei Mangkei 2019.
                                        
                                        </h4>

                                    <a href="https://drive.google.com/file/d/1nUy3h2eOvfdjvdSMvjafWbSg_mL7RVr-/view?usp=sharing" target="blank"><button
                                        class="bg-blue-400 text-white rounded-md mt-5 mb-5 p-2 w-auto pl-3 pr-3 hover:bg-blue-600"
                                        onclick="toggleModal('modal-id')">
                                        Download Disini
                                    </button></a>
                                </div>
                            </div>
                            <div class="bg-white rounded-lg p-6 shadow-lg">
                                <div class="flex items-center space-x-6 mb-4">
                                    <img class="h-28 w-28 object-cover object-center rounded-full"
                                        src="https://free4kwallpapers.com/uploads/originals/2019/10/03/pangalengan-bandung-regency-indonesia-wallpaper1.jpg"
                                        alt="photo">
                                    <div>
                                        <p class="text-xl text-gray-700 font-bold mb-1">Ulapan Bali</p>

                                    </div>
                                </div>
                                <div>
                                    <h4 class="text-gray-400 leading-loose font-normal text-base">Dalam Rencana Pembangunan Jangka Menengah Nasional (RPJMN) 2020-2024, revitalisasi
                                        destinasi pariwisata Bali merupakan fokus dalam pengembangan destinasi pariwisata. Dari konstelasi
                                        kewilayahan tentu sudah banyak kawasan pariwisata yang ditetapkan di Provinsi Bali seperti, salah
                                        satunya adalah Kawasan Strategis Pariwisata Nasional (KSPN) Ubud dan sekitarnya. Kawasan Ubud
                                        yang terletak di Kabupaten Gianyar ini juga terdaftar sebagai warisan budaya dunia UNESCO (the
                                        United Nations Educational, Scientific and Cultural Organization) berupa lanskap. Dengan demikian,
                                        perlu menjaga keseimbangan antara pelestarian budaya dan pengembangan pariwisata berkelanjutan.
                                    </h4>

                                    <a href="https://drive.google.com/file/d/1ZvYDpxkPBKQcDFiDbQwGWknQg-pwf9-X/view" target="blank"><button
                                        class="bg-blue-400 text-white rounded-md mt-5 mb-5 p-2 w-auto pl-3 pr-3 hover:bg-blue-600"
                                        onclick="toggleModal">
                                        Download Disini
                                    </button></a>
                                </div>
                            </div>
                            <div class="bg-white rounded-lg p-6 shadow-lg">
                                <div class="flex items-center space-x-6 mb-4">
                                    <img class="h-28 w-28 object-cover object-center rounded-full"
                                        src="https://www.bantennews.co.id/wp-content/uploads/2019/07/20190714_081035.jpg"
                                        alt="photo">
                                    <div>
                                        <p class="text-xl text-gray-700 font-bold mb-1">Masterplan Banten</p>

                                    </div>
                                </div>
                                <div>
                                    <h4 class="text-gray-400 leading-loose font-normal text-base">Dari segi laju pertumbuhan ekonomi, Provinsi Banten masih dinilai relatif stabil walaupun masih berada di
                                        bawah pertumbuhan rata-rata Pulau Jawa, dimana pertumbuhan Pulau Jawa sebesar 5,6% sedangkan
                                        Provinsi Banten sebesar 5,41% (BPS, 2019). Hal tersebut ditunjang dengan keberadaan wilayah industri yang
                                        memberikan kontribusi cukup positif dalam perkembangan ekonomi di Provinsi Banten. Namun kontribusi
                                        positif tersebut tidak merata disumbangkan oleh semua wilayah kabupaten/kota di Provinsi Banten.
                                        Konsentrasi pertumbuhan ekonomi sangat dominan terjadi di wilayah utara yang menyebabkan
                                        kesenjangan ekonomi yang tinggi. Wilayah bagian utara Provinsi Banten berkontribusi sebesar 91%
                                        terhadap PDRB Provinsi Banten, sedangkan wilayah selatan hanya menyumbang 9% dari total nilai PDRB
                                        (Masterplan Fase I).</h4>

                                    <a href="https://drive.google.com/file/d/12sAgT756kFmFlFcZ626wwE3NkuBnnqpX/view?usp=sharing" target="blank"><button
                                        class="bg-blue-400 text-white rounded-md mt-5 mb-5 p-2 w-auto pl-3 pr-3 hover:bg-blue-600"
                                        onclick="toggleModal">
                                        Download Disini
                                    </button></a>
                                </div>
                            </div>
                            <div class="bg-white rounded-lg p-6 shadow-lg">
                                <div class="flex items-center space-x-6 mb-4">
                                    <img class="h-28 w-28 object-cover object-center rounded-full"
                                        src="https://kabarpriangan.com/konten/uploads/2018/06/screenshot_2018-06-13-15-52-54-239_cn293183283.png"
                                        alt="photo">
                                    <div>
                                        <p class="text-xl text-gray-700 font-bold mb-1">Masterplan Jabar Selatan</p>

                                    </div>
                                </div>
                                <div>
                                    <h4 class="text-gray-400 leading-loose font-normal text-base">Terkait sub bab 1.3 keluaran kegiatan tertera rencana aksi dan kerangka pendanaan pada poin yang berbeda, untuk dipertimbangkan saja apa tidak sebaiknya digabung karena kedua output terdapat pada satu file yang sama. Selain itu barangkali dapat disertakan poin kontribusi dalam output kedua (visi, arah pengembangan, dst).
                                        Pada sub bab 1.4.1 ruang lingkup kegiatan, terdapat skenario kearifan lokal dan skenario mitigasi bencana pandemi. Sepertinya tidak muncul pada slide paparan, apabila tidak jadi disusun barangkali dapat dihapus terkait kearifan lokal dan mitigasi bencana pandemi.
                                        Pada sistematika pembahasan harap penamaan bab-bab disesuaikan dengan yang terbaru. Selain itu, isi penjelasan bab 4 harap ditambahkan dengan kontribusi terhadap sosial ekonomi wilayah.
                                        </h4>

                                    <a href="https://docs.google.com/document/d/19oMz4g7NwMXAhifS1w1d2aqpB49SxMIZ/edit" target="blank"><button
                                        class="bg-blue-400 text-white rounded-md mt-5 mb-5 p-2 w-auto pl-3 pr-3 hover:bg-blue-600"
                                        onclick="toggleModal">
                                        Download Disini
                                    </button></a>
                                </div>
                            </div>
                            <div class="bg-white rounded-lg p-6 shadow-lg">
                                <div class="flex items-center space-x-6 mb-4">
                                    <img class="h-28 w-28 object-cover object-center rounded-full"
                                        src="https://asset.kompas.com/crops/DYzvsBLSN7R5XTKnBEyP39NLWfY=/94x0:937x562/750x500/data/photo/2020/02/21/5e50030b70b64.jpg"
                                        alt="photo">
                                    <div>
                                        <p class="text-xl text-gray-700 font-bold mb-1">Desk Aceh</p>

                                    </div>
                                </div>
                                <div>
                                    <h4 class="text-gray-400 leading-loose font-normal text-justify">Pembahasan kawasan prioritas dalam rangka pelaksanaan Rakorbangwil
                                        Kementerian PUPR 2022 untuk program infrastruktur PUPR TA 2023 dilakukan
                                        dengan memperhatikan:<br>
                                        • Arahan Rencana Tata Ruang Wilayah (RTRW) Nasional/RTRW Pulau/RTRW
                                        Daerah/Kawasan yang lebih rinci;<br>
                                        • Arahan dalam Rencana Pembangunan Jangka Menengah Nasional (RPJMN) Tahun
                                        2020 – 2024 dan Rencana Strategis (Renstra) Kementerian PUPR Tahun 2020-
                                        2024;<br>
                                        • Isu strategis dan kebutuhan penanganan di masing-masing provinsi.</h4>

                                    <a href="https://drive.google.com/file/d/1ImfUjjagxnw_wCMT_lKTe5igAnGWKQYo/view?usp=sharing" target="blank"><button
                                        class="bg-blue-400 text-white rounded-md mt-5 mb-5 p-2 w-auto pl-3 pr-3 hover:bg-blue-600"
                                        onclick="toggleModal">
                                        Download Disini
                                    </button></a>
                                </div>
                            </div>
                            <div class="bg-white rounded-lg p-6 shadow-lg">
                                <div class="flex items-center space-x-6 mb-4">
                                    <img class="h-28 w-28 object-cover object-center rounded-full"
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvKQOZ-SXxU0ECrzJs_3lr_FvKr592i4miSA&usqp=CAU"
                                        alt="photo">
                                    <div>
                                        <p class="text-xl text-gray-700 font-bold mb-1">Koordinasi Strategis Alternatif
                                        </p>

                                    </div>
                                </div>
                                <div>
                                    <h4 class="text-gray-400 leading-loose font-normal text-justify">Kegiatan Koordinasi Strategis Analisis Kebutuhan Provinsi di wilayah Regional I memiliki tujuan untuk
                                        menyediakan basis data, menyusun profil daerah, dan merumuskan rekomendasi kegiatan prioritas di
                                        provinsi dan/atau Kawasan di wilayah Sumatera, Jawa dan Bali, serta menyelenggarakan forum
                                        konfirmasi rumusan rekomendasi dengan melibatkan pihak internal dan eksternal Kementerian
                                        PPN/Bappenas. Kegiatan ini telah menghasilkan profil daerah, rekomendasi kegiatan prioritas, dan
                                        pengembangan awal basis data.</h4>
                                    <a href="https://drive.google.com/file/d/1kYzchVH1pkjSikT_PEEWrPPIYQ4Hzf0G/view?usp=sharing" target="blank"><button
                                        class="bg-blue-400 text-white rounded-md mt-5 mb-5 p-2 w-auto pl-3 pr-3 hover:bg-blue-600"
                                        onclick="toggleModal">
                                        Download Disini
                                    </button></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>


            </div>
        </div>




    </div>
</main>

<script>
    function toggleModal(modalID) {
        document.getElementById(modalID).classList.toggle("hidden");
        document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
        document.getElementById(modalID).classList.toggle("flex");
        document.getElementById(modalID + "-backdrop").classList.toggle("flex");
    }
</script>


{% endblock %}