{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Diagram</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/tailwind_output.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/daisyui.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/tree-boxes.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/d3-context-menu.min.css' %}" type="text/css" />
    
  </head>
  <body>
    <div>
      <div id="tree-container"></div>
    </div>
    <script src="https://kit.fontawesome.com/81ce8f8fdb.js" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="https://d3js.org/d3.v5.min.js" type="text/javascript"></script>
    <script src="{% static 'javascript/tree-boxes.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/d3-context-menu.js' %}" type="text/javascript"></script>
    <script>
      let data = JSON.parse("{{ dataJSON|escapejs }}");
      var treeData = data;
      treeBoxes(treeData);
    </script>
  </body>
</html>
