{% extends 'parts/main.html' %}
{% load static %}
{% block content %}

<style>
    .chart--container {
        height: 100%;
        width: 100%;
        min-height: 530px;
    }

    .zc-ref {
        display: none;
    }

    select {
        margin: 10px;
    }
</style>

<main>
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold">{{judul}}</h1>
    </div>

    <!-- Content -->
    <div class="mt-2">

        <!-- Main Content -->
        <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-1">
            <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Main Content header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Map Area</h4>
                </div>
                <!-- Main Content -->

                <!-- CHART CONTAINER -->
                <div id="tree-container">
                </div>

            </div>
        </div>

        <!-- Support Contents -->
        <div class="grid grid-cols-3 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-3">
            <div class="col-span-1 bg-white rounded-md dark:bg-darker">
                <!-- Sub Support Content Header -->
                <div class="p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Chart One</h4>
                </div>
                <!-- Sub Support Content -->
            </div>
            <div class="col-span-1 bg-white rounded-md dark:bg-darker">
                <!-- Sub Support Content Header -->
                <div class="p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Chart One</h4>
                </div>
                <!-- Sub Support Content -->
            </div>
            <div class="col-span-1 bg-white rounded-md dark:bg-darker">
                <!-- Sub Support Content Header -->
                <div class="p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Chart One</h4>
                </div>
                <!-- Sub Support Content -->
            </div>
        </div>

    </div>
</main>

<script>
    d3.json("{% static 'json/data-example.json' %}", function (error, json) {
        treeBoxes('', json.tree);
    });
</script>

<script>

    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"]; // window:load event for Javascript to run after HTML
    // because this Javascript is injected into the document head
    window.addEventListener('load', () => {
        let chartData = [{
            id: 'theworld',
            parent: '',
            name: 'The World',
        },
        {
            id: 'asia',
            parent: 'theworld',
            name: 'Asia',
            value: 4100000000
        },
        {
            id: 'africa',
            parent: 'theworld',
            name: 'Africa',
            value: 1260000000
        },
        {
            id: 'america',
            parent: 'theworld',
            name: 'America',
            value: 328000000
        },
        {
            id: 'europe',
            parent: 'theworld',
            name: 'Europe',
            value: 741000000
        },
        {
            id: 'ca',
            parent: 'america',
            name: 'California',
            value: 32000000
        },
        {
            id: 'ny',
            parent: 'america',
            name: 'New York',
            value: 19000000
        },
        {
            id: 'txt',
            parent: 'america',
            name: 'Texas',
            value: 29000000
        },
        {
            id: 'txt1',
            parent: 'txt',
            name: 'Texas',
            value: 29000000
        },
        {
            id: 'txt2',
            parent: 'txt',
            name: 'Texas',
            value: 29000000
        },
        {
            id: 'txt3',
            parent: 'txt',
            name: 'Texas',
            value: 29000000
        },
        ];

        let chartConfig = {
            type: 'tree',
            options: {
                link: {
                    aspect: 'arc'
                },
                maxSize: 20,
                minSize: 10,
                node: {
                    type: 'circle',
                    tooltip: {
                        padding: '20px 20px',
                        borderRadius: '3px',
                    }
                }
            },
            series: chartData
        };

        zingchart.render({
            id: 'myChart',
            data: chartConfig,
            height: '95%',
            width: '100%',
            output: 'canvas'
        });

        // change tree layout
        document.getElementById('tree-aspect').addEventListener('change', function (e) {
            chartConfig.options.aspect = e.srcElement.value;
            zingchart.exec('myChart', 'setdata', {
                data: chartConfig
            });
        });

        // change tree connector
        document.getElementById('tree-node').addEventListener('change', function (e) {
            chartConfig.options.link.aspect = e.srcElement.value;
            zingchart.exec('myChart', 'setdata', {
                data: chartConfig
            });
        });
    });

</script>

{% endblock %}