{% extends 'parts/main.html' %}

{% block content %}
<main>

    <!--Modal-->
    <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
        id="modal-id">
        <div class="relative w-auto my-6 mx-auto max-w-3xl">
            <!--content-->
            <div
                class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                <!--header-->
                <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                    <h3 class="text-3xl font-semibold">
                        Hasil Analisis Korelasi
                    </h3>

                </div>
                <!--body-->
                <div class="relative p-6 flex-auto">
                    <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                        Keterangan Tabel
                    </p>
                    <button
                        class="text-sm bg-gray-300 hover:bg-blue-500 hover:text-white text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center ease-linear transition-all duration-150"
                        type="button" onclick="toggleModal('modal-id')">

                        <span>Tutup Tabel</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>


    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold">{{judul}}</h1>
    </div>

    <!-- Content -->
    <div class="mt-2">

        <!-- Main Content -->
        <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-1">
            <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Main Content header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Provinsi</h4>
                </div>
                <!-- Main Content -->
                <div class="w-full my-4">

                    <div class="mt-5 mb-5">
                        <p class="p-5">Pilih Provinsi</p>

                        <select name="" id=""
                            class=" relative block appearance-none w-1/4 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500'">

                            <option value="Jawa Barat">Jawa Barat</option>

                        </select>

                    </div>

                    <div class="mt-5 mb-5">
                        <p class="p-5">Pilih Isu Strategis</p>

                        <select name="" id=""
                            class=" relative block appearance-none w-1/4 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500'">

                            <option>
                                Tidak sesuainya kualifikasi SDM dengan kebutuhan dunia kerja
                                (mis match)
                            </option>

                            <option value="">
                                Masih rendahnya kualitas lingkungan hidup di Provinsi Jawa Barat
                            </option>

                            <option>
                                Ketimpangan Jawa Barat bagian selatan dengan bagian utara
                            </option>

                        </select>

                    </div>

                    <br>

                    <table class="border-separate table-fixed w-full bg-white table-striped">
                        <thead>
                            <tr class="text-center break-all">
                                <th
                                    class="w-1/4 bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-5 text-gray-600 font-bold tracking-wider uppercase text-xs">
                                    Hirarki logis
                                </th>
                                <th
                                    class="w-1/4 bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-5 text-gray-600 font-bold tracking-wider uppercase text-xs">
                                    Indikator
                                </th>
                                <th
                                    class="w-1/4 bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-5 text-gray-600 font-bold tracking-wider uppercase text-xs">
                                    Sumber Data
                                </th>
                                <th
                                    class="w-1/4 bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-5 text-gray-600 font-bold tracking-wider uppercase text-xs">
                                    Asumsi
                                </th>

                            </tr>
                        </thead>
                        <tbody id="tujuan-data">
                            <button>
                                <tr class="text-center p-4" id="sasaran-toggle">
                                    <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3">
                                        Meningkatkan Kesejahteraan Masyarakat
                                    </td>
                                    <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3">
                                        Tingkat Pengangguran Terbuka
                                    </td>
                                    <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3">

                                        <ol>
                                            <li>Data BPS</li>
                                            <li>Data Kab/Kota Dalam Angka</li>
                                        </ol>

                                    </td>
                                    <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3">
                                        Dengan berkurangnya pengangguran akan meningkatkan kesejahteraan masyarakat
                                    </td>
                                </tr>
                            </button>
                            <tr>
                        <tbody id="sasaran-data">
                            <button>
                                <tr class="text-center" id="output-toggle">
                                    <td class="border-dashed border-t bg-purple-500 text-white  text-center p-3">
                                        Tersedianya SDM kompeten yang sesuai kebutuhan dunia usaha dan industri (link
                                        and match)
                                    </td>
                                    <td class="border-dashed border-t bg-purple-500 text-white  text-center p-3 ">
                                        Jumlah angkatan kerja yang terserap di dunia usaha dan industri (DUDI)
                                    </td>
                                    <td class="border-dashed border-t bg-purple-500 text-white  text-center p-3 ">
                                        Data BPS, Bappeda Provinsi Jawa Barat

                                    </td>
                                    <td class="border-dashed border-t bg-purple-500 text-white  text-center p-3 ">
                                        Dengan tersedianya SDM kompeten yang sesuai dengan kebutuhan dunia kerja, maka
                                        akan mengurangi tingkat pengangguran terbuka
                                    </td>
                                </tr>
                            </button>
                            <tr>
                        <tbody id="output-data">
                            <button>
                                <tr class="text-center" id="aktivitas-toggle">
                                    <td class="border-dashed border-t bg-purple-400 text-white  text-center p-3">
                                        Peningkatan Kompetensi lulusan SMK yang sesuai dengan kebutuhan Dunia Usaha dan
                                        Industri (DUDI)
                                    </td>
                                    <td class="border-dashed border-t bg-purple-400 text-white  text-center p-3">
                                        Jumlah lulusan SMK yang menganggur
                                    </td>
                                    <td class="border-dashed border-t bg-purple-400 text-white  text-center p-3">
                                        Dokumen Provinsi dalam angka
                                    </td>
                                    <td class="border-dashed border-t bg-purple-400 text-white text-center p-3">
                                        1. Adanya minat lulusan SMK untuk bekerja sesuai bidangnya
                                        2. Kompetensi menjadi pertimbangan utama oleh DUDI untuk lulusan SMK
                                        3. Dengan meningkatnya kompetensi lulusan SMK yang sesuai dengan kebutuhan DUDI,
                                        maka jumlah lulusan SMK yang menganggur akan menurun
                                    </td>
                                </tr>
                            </button>
                            <tr>
                        <tbody id="aktivitas-data">
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Revitalisasi SMK yang Mendukung Industri 4.0
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Tersedianya SMK yang mendukung Industri 4.0 yang terevitalisasi
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Pemetaan dan Penyelarasan Pendidikan dan Kebutuhan Dunia Usaha/Industri
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Jumlah Pemetaan dan Penyelarasan Pendidikan dan Kebutuhan Dunia Usaha/Industri
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Fasilitasi Sertifikasi Kompetensi Siswa SMK
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Jumlah Siswa SMK yang memliki sertifikat Kompetensi
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Fasilitasi Pengembangan Teaching Factory
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Jumlah SMK yang mendapatkan Fasilitasi Pengembangan Teaching Factory
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Kurikulum Yang Sesuai Dengan Kebutuhan Industri dan Pengembangan Kurikulum Soft
                                    Skill/karakter Kerja
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Jumlah Kurikulum Yang Sesuai Dengan Kebutuhan Industri dan Pengembangan Kurikulum
                                    Soft Skill/karakter Kerja
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Fasilitasi Pengembangan Bakat dan Minat Siswa
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Jumlah SMK yang mendapatkan Fasilitasi Pengembangan Bakat dan Minat Siswa
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Fasilitasi Pengembangan Pendidikan Kecakapan Kerja (PKK)
                                </td>
                                <td class="border-dashed border-t border-gray-200 ">
                                    Jumlah Peserta Didik yang Mendapatkan Pendidikan Kecakapan Kerja (PKK)
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Siswa SMK yang Tersertifikasi
                                </td>
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Jumlah Siswa SMK yang Tersertifikasi
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName p-3">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress p-3">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Lulusan yang Mengikuti Pusat Karir
                                </td>
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Jumlah Lulusan yang Mengikuti Pusat Karir
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName p-3">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress p-3">
                                    Lorem Ipsum
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Fasilitasi Uji Kompetensi Kepada Peserta Didik
                                </td>
                                <td class="border-dashed border-t border-gray-200 p-3">
                                    Jumlah Peserta Didik yang mendapatkan Fasilitasi Uji Kompetensi
                                </td>
                                <td class="border-dashed border-t border-gray-200 lastName p-3">
                                    Monitoring pelaksanaan kegiatan pemerintah pusat dan daerah
                                </td>
                                <td class="border-dashed border-t border-gray-200 emailAddress p-3">
                                    Lorem Ipsum
                                </td>
                            </tr>
                        </tbody>
                        </tr>
                        </tbody>
                        </tr>
                        </tbody>
                        </tr>
                        <tr class="text-center">
                            <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3">
                                Meningkatkan kualitas lingkungan hidup Provinsi Jawa Barat
                            </td>
                            <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3">
                                Indeks Kualitas Lingkungan Hidup
                            </td>
                            <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3 ">
                                <ol>
                                    <li>Data KLHK</li>
                                    <li>Data BPS</li>
                                </ol>
                            </td>
                            <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3">
                                Dengan tercapainya peningkatan kualitas lingkungan hidup, diasumsikan kualitas hidup
                                penduduk Jawa Barat akan membaik
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3">
                                Meningkatkan laju pertumbuhan ekonomi di Jabar bagian Selatan
                            </td>
                            <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3 ">
                                Laju pertumbuhan ekonomi Jabar bagian Selatan
                            </td>
                            <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3 ">
                                <ol>
                                    <li>Data BPS</li>
                                </ol>
                            </td>
                            <td class="border-dashed border-t bg-purple-600 text-white  text-center p-3 ">
                                Peningkatan laju pertumbuhan ekonomi di Jabar Selatan, akan mengurangi ketimpangan
                                pembangunan Jabar bagian Utara dengan Jabar bagian Selatan
                            </td>
                        </tr>
                        </tbody>



                    </table>
                </div>
            </div>
        </div>
    </div>
</main>



<script>

    $(document).ready(function () {

        $("#tujuan-data").show();
        $("#sasaran-data").hide();
        $("#output-data").hide();
        $("#aktivitas-data").hide();


        $("#tujuan-toggle").click(() => {
            $("#tujuan-data").toggle();
            $("#sasaran-data").hide();
        })

        $("#sasaran-toggle").click(() => {
            $("#sasaran-data").toggle();
            $("#output-data").hide();
            $("#aktivitas-data").hide();
        })

        $("#output-toggle").click(() => {
            $("#output-data").toggle();
            $("#aktivitas-data").hide();
        })

        $("#aktivitas-toggle").click(() => {
            $("#aktivitas-data").toggle();
        })

    });

    function toggleModal(modalID) {
        document.getElementById(modalID).classList.toggle("hidden");
        document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
        document.getElementById(modalID).classList.toggle("flex");
        document.getElementById(modalID + "-backdrop").classList.toggle("flex");
    }


</script>

{% endblock %}