{% extends 'parts/main.html' %}

{% load widget_tweaks %}

{% block content %}

<!-- Content header -->
<div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
  <h1 class="text-2xl font-semibold">
    {% if content.page_url == "add_lfa" %}
    Menambahkan LFA
    {% else %}
    Mengedit LFA
    {% endif %}
  </h1>
</div>

<!-- HALAMAN PEMILIHAN PENGISIAN TUJUAN SASARAN OUTPUT -->

<h1 class="text-4xl font-normal leading-normal mt-0 mb-2 text-pink-800 text-center mt-5">
  {% if content.content_title %}
  Anda Sedang 
  {% if content.page_url == "add_lfa" %}
  Menambahkan
  {% else %}
  Mengedit 
  {% endif %}
  {{content.content_title}}
  {% else %}
  Silahkan Pilih Kategori yang Hendak Diisi :
  {% endif %}
</h1>

{% if messages %}
{% for message in messages %}
<!--Message dialog for success-->
{% if message.level == 25  %}
<div class="mt-10 mb-5 ml-20 mr-20" role="alert" id="msg">
  <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
  </div>
  <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
  </div>
</div>
<!--Message dialog for error-->
{% elif message.level == 40  %}
<div class="mt-10 mb-5 ml-20 mr-20" role="alert" id="msg">
  <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
  </div>
  <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
  </div>
</div>

{% endif %}
{% endfor %}
{% endif %}

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <!--Card 1-->
  <a href="{% url 'addLfa' 'tujuan' %}" class="{% if content.content_title != None and content.content_title == 'tujuan' %}disabled{% endif %}">
    <div class="{% if content.content_title == 'tujuan' %}bg-purple-700 {% else %} bg-purple-500 {% endif %} hover:bg-purple-700 rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-center text-white">
          <p>Tujuan</p>
        </div>
      </div>
    </div>
  </a>

  <!--Card 2-->
  <a href="{% url 'addLfa' 'sasaran' %}" class="{% if content.content_title != None and content.content_title == 'sasaran' %}disabled{% endif %}">
    <div class="{% if content.content_title == 'sasaran' %}bg-purple-700 {% else %} bg-purple-500 {% endif %} hover:bg-purple-700 rounded overflow-hidden shadow-lg">

      <div class="px-2 py-4">
        <div class="font-bold text-xl mb-2 text-center text-white">
          <p>Sasaran</p>
        </div>
      </div>
    </div>
  </a>


  <!--Card 3-->
  <a href="{% url 'addLfa' 'output' %}" class="{% if content.content_title != None and content.content_title == 'output' %}disabled{% endif %} ">
    <div class="{% if content.content_title == 'output' %}bg-purple-700 {% else %} bg-purple-500 {% endif %} hover:bg-purple-700 rounded overflow-hidden shadow-lg">

      <div class="px-2 py-4">
        <div class="font-bold text-xl mb-2 text-center text-white">

          <p>Output</p>
        </div>
      </div>
    </div>
  </a>
</div>

{% if content.content_title == 'tujuan' %}
<!-- HALAMAN PENGISIAN TUJUAN -->

<form class="w-full max-w-4xl l px-5 m-5" method="POST">

  {% csrf_token %}

  <div class="flex flex-wrap -mx-3 mb-2">

    <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
        Provinsi
      </label>
      <div class="relative w-3/4">
        {{content.form.provinsi}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
        Tahun
      </label>
      <div class="relative w-3/4">
        {{content.form.tahun}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
    </div>

    <div class="w-full md:w-full px-3 mb-6 mt-5 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Isi Tujuan
      </label>
      {{content.form.nama_tujuan}}
    </div>

    <div class="w-full px-2 mb-6  md:mb-0">
      <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        INDIKATOR
        <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian indikator lebih dari satu">
          <i class="fa-solid fa-circle-question"></i>
        </div>
      </label>
      {{content.form.indikator}}
    </div>

    <div class="flex flex-wrap -px-3 mb-6 mt-5">
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Baseline
        </label>
        {{content.form.baseline}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Baseline
        </label>
        {{content.form.unitsatuanbaseline}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Baseline
        </label>
        {{content.form.unit_satuan_baseline}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Target
        </label>
        {{content.form.target}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Target
        </label>
        {{content.form.unitsatuantarget}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Target
        </label>
        {{content.form.unit_satuan_target}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          SUMBER DATA
          <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian sumber data lebih dari satu">
            <i class="fa-solid fa-circle-question"></i>
          </div>
        </label>
        {{content.form.sumber_data}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          ASUMSI
          <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian asumsi lebih dari satu">
            <i class="fa-solid fa-circle-question"></i>
          </div>
        </label>
        {{content.form.asumsi}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Tahun Anggaran
        </label>
        {{content.form.tahun_anggaran}}
      </div>
    </div>

    <button class="rounded-2xl bg-purple-500 float-right hover:bg-purple-700 text-white font-bold py-2 px-4 mt-5 mb-5 ml-2"
      onclick="">
      {% if content.page_url == "add_lfa" %}
      <p>Simpan</p>
      {% else %}
      <p>Ubah</p>
      {% endif %}
    </button>
    <!-- <button class="rounded-2xl bg-gray-500 float-right hover:bg-gray-700 text-white font-bold py-2 px-4 mt-5 mb-5 ml-2"
      onclick="">
      <p>Kembali</p>
    </button> -->
  </div>

</form>

{% elif content.content_title == 'sasaran' %}
<!-- HALAMAN PENGISIAN SASARAN -->

<form id="form" class="w-full max-w-4xl l px-5 m-5" method="POST" data-tujuan-url="{% url 'ajax-tujuan-lfa' %}">

  {% csrf_token %}

  <div class="flex flex-wrap -mx-3 mb-2">

    {% if content.page_url == 'add_lfa' %}
    <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
        Provinsi
      </label>
      <div class="relative w-3/4">
        <select
          required
          id="provinsi"
          name="provinsi"
          onchange="handleProvinsiSelect(value)"
          class="left block appearance-none w-full bg-gray-200 border border-red-500 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-red-500'"
        >
          <option value="" selected disabled hidden>Pilih Provinsi</option>
          {% for provinsi in content.provinsi %}
          <option 
            value={{ provinsi.provinsi_id }}
            {% if provinsi.provinsi_id == content.pilih_provinsi %}selected{% endif %}
          >
            {{ provinsi.nama_provinsi }}
          </option>
          {% endfor %}
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
        Isi Tujuan
      </label>
      <div class="relative w-4/4">
        {{content.form.tujuan}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
    </div>

    <div class="w-full md:w-full px-3 mb-6 mt-5 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Isi Sasaran
      </label>
      {{content.form.nama_sasaran}}
    </div>

    <div class="w-full px-2 mb-6  md:mb-0">
      <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        INDIKATOR
        <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian indikator lebih dari satu">
          <i class="fa-solid fa-circle-question"></i>
        </div>
      </label>
      {{content.form.indikator}}
    </div>

    <div class="flex flex-wrap -px-3 mb-6 mt-5">
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Baseline
        </label>
        {{content.form.baseline}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Baseline
        </label>
        {{content.form.unitsatuanbaseline}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Baseline
        </label>
        {{content.form.unit_satuan_baseline}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Target
        </label>
        {{content.form.target}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Target
        </label>
        {{content.form.unitsatuantarget}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Target
        </label>
        {{content.form.unit_satuan_target}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          SUMBER DATA
          <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian sumber data lebih dari satu">
            <i class="fa-solid fa-circle-question"></i>
          </div>
        </label>
        {{content.form.sumber_data}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          ASUMSI
          <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian asumsi lebih dari satu">
            <i class="fa-solid fa-circle-question"></i>
          </div>
        </label>
        {{content.form.asumsi}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Tahun Anggaran
        </label>
        {{content.form.tahun_anggaran}}
      </div>
    </div>

    <button class="rounded-2xl bg-purple-500 float-right hover:bg-purple-700 text-white font-bold py-2 px-4 mt-5 mb-5 ml-2"
      onclick="">
      {% if content.page_url == "add_lfa" %}
      <p>Simpan</p>
      {% else %}
      <p>Ubah</p>
      {% endif %}
    </button>
    <!-- <button class="rounded-2xl bg-gray-500 float-right hover:bg-gray-700 text-white font-bold py-2 px-4 mt-5 mb-5 ml-2"
      onclick="">
      <p>Kembali</p>
    </button> -->
  </div>

</form>

{% elif content.content_title == 'output' %}
<!-- HALAMAN PENGISIAN OUTPUT -->

<form id="form" class="w-full max-w-4xl l px-5 m-5" method="POST" data-tujuan-url="{% url 'ajax-tujuan-lfa' %}" data-sasaran-url="{% url 'ajax-sasaran-lfa' %}">

  {% csrf_token %}

  <div class="flex flex-wrap -mx-3 mb-2" style="width: 125%;">
    <div class="flex flex-wrap -px-3 mb-6 mt-5">
      {% if content.page_url == "add_lfa" %}
      <div class="w-1/3 md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
          Provinsi
        </label>
        <div class="relative w-auto">
          <select
            required
            id="provinsi"
            name="provinsi"
            onchange="handleProvinsiSelect(value)"
            class="whitespace-pre-wrap left block appearance-none w-full bg-gray-200 border border-red-500 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-red-500'"
          >
            <option value="" selected disabled hidden>Pilih Provinsi</option>
            {% for provinsi in content.provinsi %}
            <option 
              value={{ provinsi.provinsi_id }}
              {% if provinsi.provinsi_id == content.pilih_provinsi %}selected{% endif %}
            >
              {{ provinsi.nama_provinsi }}
            </option>
            {% endfor %}
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="w-1/3 md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
          Isi Tujuan
        </label>
        <div class="relative w-auto">
          <select
          id="tujuan"
            required
            name="tujuan"
            onchange="handleTujuanSelect(value)"
            class="whitespace-pre-wrap left block appearance-none w-full bg-gray-200 border border-red-500 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-red-500'"
            >
            <option value="" selected disabled hidden>---------</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
      {% endif %}
  
      <div 
        class="
          {% if content.page_url == "add_lfa" %}
          w-1/3 md:w-1/3 
          {% else %}
          w-full md:w-full
          {% endif %}  
          px-3 mb-6 md:mb-0"
      >
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
          Isi Sasaran
        </label>
        <div class="relative w-auto">
          {{content.form.sasaran}}
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-full px-3 mb-6 mt-5 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Isi Output
      </label>
      {{content.form.nama_output}}
    </div>

    <div class="w-full px-2 mb-6  md:mb-0">
      <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        INDIKATOR
        <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian indikator lebih dari satu">
          <i class="fa-solid fa-circle-question"></i>
        </div>
      </label>
      {{content.form.indikator}}
    </div>

    <div class="flex flex-wrap -px-3 mb-6 mt-5">
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Baseline
        </label>
        {{content.form.baseline}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Baseline
        </label>
        {{content.form.unitsatuanbaseline}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Baseline
        </label>
        {{content.form.unit_satuan_baseline}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Target
        </label>
        {{content.form.target}}
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Target
        </label>
        {{content.form.unitsatuantarget}}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
      <div class="relative  w-1/3 px-2 mb-1 mt-1 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Satuan Target
        </label>
        {{content.form.unit_satuan_target}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          SUMBER DATA
          <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian sumber data lebih dari satu">
            <i class="fa-solid fa-circle-question"></i>
          </div>
        </label>
        {{content.form.sumber_data}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          ASUMSI
          <div class="tooltip tooltip-right" data-tip="Gunakan koma (,) jika isian asumsi lebih dari satu">
            <i class="fa-solid fa-circle-question"></i>
          </div>
        </label>
        {{content.form.asumsi}}
      </div>
      <div class="w-1/3 px-3 mb-6 mt-5 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Tahun Anggaran
        </label>
        {{content.form.tahun_anggaran}}
      </div>
    </div>

    <button class="rounded-2xl bg-purple-500 float-right hover:bg-purple-700 text-white font-bold py-2 px-4 mt-5 mb-5 ml-2" onclick="">
      {% if content.page_url == "add_lfa" %}
      <p>Simpan</p>
      {% else %}
      <p>Ubah</p>
      {% endif %}
    </button>
    <!-- <button class="rounded-2xl bg-gray-500 float-right hover:bg-gray-700 text-white font-bold py-2 px-4 mt-5 mb-5 ml-2"
      onclick="">
      <p>Kembali</p>
    </button> -->
  </div>

  {% endif %}

  <style>
    a.disabled {
      pointer-events: none;
      cursor: default;
      opacity: 100;
    }
  </style>

  <script>
    // Message confirmation timeout after submit form
    setTimeout(function () {
      $('#msg').remove();
    }, 3000)

    function handleSubmitOnError(element) {
      console.log(`this is touched`)
    }

    function handleProvinsiSelect(provinsi_id) {
      let url_tujuan = $("#form").attr("data-tujuan-url")

      $.ajax({
        url: url_tujuan,
        data: {
          provinsi_id: provinsi_id
        },
        success: ({ data }) => {
          let html_lists = `<option value="" selected="">Pilih Tujuan</option>`

          data.forEach(item => {
            html_lists += `<option value="${item.id}">${item.nama_tujuan}</option>`
          })

          $("[name='tujuan']").html(html_lists)
        }
      })
    }

    function handleTujuanSelect(tujuan_id) {
      let url_tujuan = $("#form").attr("data-sasaran-url")

      $.ajax({
        url: url_tujuan,
        data: {
          tujuan_id: tujuan_id
        },
        success: ({ data }) => {
          let html_lists = `<option value="" selected="">Pilih Sasaran</option>`

          data.forEach(item => {
            html_lists += `<option value="${item.id}">${item.nama_sasaran}</option>`
          })

          console.log(html_lists)

          $("[name='sasaran']").html(html_lists)
        }
      })

    }

    function handleUnitSatuan(e) {
      if (e.value === '110') {
        if (e.id === 'usb_select') {
          $("#usb_text").removeAttr("disabled")
        }
  
        if (e.id === 'ust_select') {
          $("#ust_text").removeAttr("disabled")
        }
      } else {
        if (e.id === 'usb_select') {
          $("#usb_text").attr("disabled", true).val("")
        }
  
        if (e.id === 'ust_select') {
          $("#ust_text").attr("disabled", true).val("")
        }

      }
    }
  </script>

  {% endblock %}