{% extends 'base.html' %} {% block content %}

<div class="bg-white flex justify-between pt-10">
  <div>
    <img class="aspect-square ml-20" src="./img/Rectangle 100.png" />
  </div>
  <div></div>
  <div class="order-last mr-20">
    <button class="btn btn-ghost">Home</button>
    <a href="login.html"
      ><button class="btn btn-accent bg-yellow-400 border-transparent">
        Log in
      </button></a
    >
  </div>

  <!-- ... -->
</div>

<div class="hero bg-white">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <div class="carousel w-full">
        <div id="item1" class="carousel-item w-full">
          <img class="w-full" />
        </div>
        <div id="item2" class="carousel-item w-full">
          <img src="./img/database 1.png" class="w-full" />
        </div>
        <div id="item3" class="carousel-item w-full">
          <img src="./img/database 1.png" class="w-full" />
        </div>
        <div id="item4" class="carousel-item w-full">
          <img src="./img/database 1.png" class="w-full" />
        </div>
      </div>
      <div class="flex justify-center w-full py-2 gap-2">
        <a href="#item1" class=""></a>
        <a href="#item2" class=""></a>
        <a href="#item3" class=""></a>
        <a href="#item4" class=""></a>
      </div>
    </div>
    <div class="px-10 mr-5 flex flex-col justify-center items-center">
      <h1 class="text-7xl font-bold text-black text-center tracking-wider">
        Sistem Database Regional 1 Bappenas
      </h1>
      <p class="py-6 text-xl text-center">
        Direktorat Regional 1 <br />
        Kedeputian Bidang Pengembangan Regional<br />
        Kementerian PPN/Bappenas
      </p>
      <a href="klinik.html"
        ><button class="btn btn-primary bg-slate-300 border-transparent">
          Get Started
        </button></a
      >
    </div>
  </div>
</div>

<div class="flex flex-col justify-center items-center bg-white pt-20">
  <div class="flex bg-white p-3">
    <div>
      <div class="px-10 mr-5 flex flex-col justify-center items-center">
        <img src="./img/map 1.png" />
        <h1 class="text-lg font-bold text-black text-center tracking-wider">
          Analisis Profil Daerah
        </h1>
        <p class="py-6 text-sm text-center">
          Direktorat Regional 1 <br />
          Kedeputian Bidang Pengembangan Regional<br />
          Kementerian PPN/Bappenas
        </p>
      </div>
    </div>
    <div>
      <div class="px-10 mr-5 flex flex-col justify-center items-center">
        <img src="./img/globe 1.png" />
        <h1 class="text-lg font-bold text-black text-center tracking-wider">
          Kajian Kewilayahan
        </h1>
        <p class="py-6 text-sm text-center">
          Direktorat Regional 1 <br />
          Kedeputian Bidang Pengembangan Regional<br />
          Kementerian PPN/Bappenas
        </p>
      </div>
    </div>
    <div>
      <div class="px-10 mr-5 flex flex-col justify-center items-center">
        <img src="./img/favorite 1.png" />
        <h1 class="text-lg font-bold text-black text-center tracking-wider">
          Mitra K/L
        </h1>
        <p class="py-6 text-sm text-center">
          Direktorat Regional 1 <br />
          Kedeputian Bidang Pengembangan Regional<br />
          Kementerian PPN/Bappenas
        </p>
      </div>
    </div>
  </div>
  <div class="flex bg-white p-3 pb-20">
    <div>
      <div class="px-10 mr-5 flex flex-col justify-center items-center">
        <img src="./img/earth 1.png" />
        <h1 class="text-lg font-bold text-black text-center tracking-wider">
          Sistem Audiensi dan Usulan Daerah
        </h1>
        <p class="py-6 text-sm text-center">
          Direktorat Regional 1 <br />
          Kedeputian Bidang Pengembangan Regional<br />
          Kementerian PPN/Bappenas
        </p>
      </div>
    </div>
    <div>
      <div class="px-10 mr-5 flex flex-col justify-center items-center">
        <img src="./img/conversation 2.png" />
        <h1 class="text-lg font-bold text-black text-center tracking-wider">
          Portal Webgis
        </h1>
        <p class="py-6 text-sm text-center">
          Direktorat Regional 1 <br />
          Kedeputian Bidang Pengembangan Regional<br />
          Kementerian PPN/Bappenas
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex bg-white">
  <div>
    <img src="./img/Group 11.png" />
  </div>
  <div><img src="" />"</div>
</div>

<div class="hero flex bg-white pt-20 px-40 py-14 space-x-20">
  <div class="w-full">
    <img src="./img/Profil.png" />
  </div>
  <div>
    <h1 class="text-4xl font-bold text-black text-left tracking-wider">
      Analisis Profil daerah
    </h1>
    <p class="py-6 text-lg text-left">
      Berisi mengenai penjelasan mengenai indikator makro dan profil secara umum
      pada setiap provinsi di wilayah Sumatera, Jawa, dan Bali. Permasalahan Isu
      Strategis dan LFA Berisi mengenai diagram Problem-tree dan Fishbone
      dilengkapi data dan fakta. Selanjutnya, Berisi mengenai tabel LFA pada
      setiap provinsi di wilayah Sumatera, Jawa, Bali, dan dikontrol menggunakan
      uji korelasi. Analisis Kawasan Prioritas Berisi mengenai deskripsi Kawasan
      prioritas di Regional I (Hasil Analisis Kawasan 2020).
    </p>
  </div>
</div>

<div class="hero flex bg-white px-40 py-14 space-x-20">
  <div>
    <h1 class="text-4xl font-bold text-black text-right tracking-wider">
      Kajian Kewilayahan
    </h1>
    <p class="py-6 text-lg text-right">
      Berisi mengenai penjelasan mengenai indikator makro dan profil secara umum
      pada setiap provinsi di wilayah Sumatera, Jawa, dan Bali. Daftar Panjang
      Proyek dan hasil LFA Menampilkan raw material berupa gabungan long-list
      yang berasal dari Perpres, PSN, Prima barata, dan RPJMN. Hasil LFA
      menampilkan produk dari hasil analisis LFM hingga level aktivitas yang
      dinilai menggunakan uji regresi Catatan Kesepakatan Forum Perencanaan dan
      Daftar Proyek Prioritas. Berisi mengenai informasi dan perubahan aktivitas
      Catatan Kesepakatan Forum Perencanaan dan Daftar Proyek Prioritas Berisi
      mengenai informasi dan perubahan aktivitas hasil dari kesepakatan pada
      forum-forum di alur penyusunan RKP. Daftar Proyek Prioritas menampilkan
      data-data dari proyek prioritas hasil telaah Direktorat Regional I.
    </p>
  </div>
  <div class="hero w-full">
    <img class="scale-100" src="./img/Kajian.png" />
  </div>
</div>

<div class="hero flex bg-white px-40 py-14 space-x-20">
  <div class="w-full">
    <img class="scale-100" src="./img/Mitra.png" />
  </div>
  <div>
    <h1 class="text-4xl font-bold text-black text-left tracking-wider">
      Mitra K/L
    </h1>
    <p class="py-6 text-lg text-left">
      Berisi mengenai penjelasan mengenai indikator makro dan profil secara umum
      pada setiap provinsi di wilayah Sumatera, Jawa, dan Bali. Permasalahan Isu
      Strategis dan LFA Berisi mengenai diagram Problem-tree dan Fishbone
      dilengkapi data dan fakta. Selanjutnya, Berisi mengenai tabel LFA pada
      setiap provinsi di wilayah Sumatera, Jawa, Bali, dan dikontrol menggunakan
      uji korelasi. Analisis Kawasan Prioritas Berisi mengenai deskripsi Kawasan
      prioritas di Regional I (Hasil Analisis Kawasan 2020).
    </p>
  </div>
</div>

<div class="hero flex bg-white px-40 py-14 space-x-20">
  <div>
    <h1 class="text-4xl font-bold text-black text-right tracking-wider">
      Sistem Audiensi & Usulan Daerah
    </h1>
    <p class="py-6 text-lg text-right">
      Berisi mengenai penjelasan mengenai indikator makro dan profil secara umum
      pada setiap provinsi di wilayah Sumatera, Jawa, dan Bali. Permasalahan Isu
      Strategis dan LFA Berisi mengenai diagram Problem-tree dan Fishbone
      dilengkapi data dan fakta. Selanjutnya, Berisi mengenai tabel LFA pada
      setiap provinsi di wilayah Sumatera, Jawa, Bali, dan dikontrol menggunakan
      uji korelasi. Analisis Kawasan Prioritas Berisi mengenai deskripsi Kawasan
      prioritas di Regional I (Hasil Analisis Kawasan 2020).
    </p>
  </div>
  <div class="w-full">
    <img class="scale-100" src="./img/Audiensi.png" />
  </div>
</div>

<div class="hero flex bg-white px-40 py-14 space-x-20">
  <div class="w-full">
    <img class="scale-100" src="./img/Portal Webgis.png" />
  </div>
  <div>
    <h1 class="text-4xl font-bold text-black text-left tracking-wider">
      Portal WEBGIS
    </h1>
    <p class="py-6 text-lg text-left">
      Berisi mengenai penjelasan mengenai indikator makro dan profil secara umum
      pada setiap provinsi di wilayah Sumatera, Jawa, dan Bali. Permasalahan Isu
      Strategis dan LFA dan Berisi mengenai diagram Problem-tree dan Fishbone
      dilengkapi data dan fakta. Selanjutnya, Berisi mengenai tabel LFA pada
      setiap provinsi di wilayah Sumatera, Jawa, Bali, dan dikontrol menggunakan
      uji korelasi. Analisis Kawasan Prioritas Berisi mengenai deskripsi Kawasan
      prioritas di Regional I (Hasil Analisis Kawasan 2020).
    </p>
  </div>
</div>

<footer class="footer footer-center p-10 bg-slate-200 text-primary-content">
  <div>
    <img src="./img/Rectangle 100.png" />
    <p class="font-bold">
      Direktorat Regional 1<br />Kedeputian Bidang Pengembangan Regional<br />Kementrian
      PPN/Bappenas
    </p>
    <p>Copyright © 2022 - All right reserved</p>
  </div>
  <div>
    <div class="grid grid-flow-col gap-4">
      <a
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
          ></path></svg
      ></a>
      <a
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
          ></path></svg
      ></a>
      <a
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
          ></path></svg
      ></a>
    </div>
  </div>
</footer>

<div>
  <p>this is template</p>
</div>
<div>
  <div class="tooltip tooltip-open tooltip-primary" data-tip="primary">
    <button class="btn btn-primary">Button</button>
    <div></div>

    <div class="flex justify-center">
      <div
        x-data="{
          open: false,
          toggle() {
              if (this.open) {
                  return this.close()
              }

              this.$refs.button.focus()

              this.open = true
          },
          close(focusAfter) {
              if (! this.open) return

              this.open = false

              focusAfter && focusAfter.focus()
          }
      }"
        x-on:keydown.escape.prevent.stop="close($refs.button)"
        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
        x-id="['dropdown-button']"
        class="relative"
      >
        <!-- Button -->
        <button
          x-ref="button"
          x-on:click="toggle()"
          :aria-expanded="open"
          :aria-controls="$id('dropdown-button')"
          type="button"
          class="rounded-md bg-white px-5 py-2.5 shadow"
        >
          <span>Actions</span>
          <span aria-hidden="true">&darr;</span>
        </button>

        <!-- Panel -->
        <div
          x-ref="panel"
          x-show="open"
          x-transition.origin.top.left
          x-on:click.outside="close($refs.button)"
          :id="$id('dropdown-button')"
          style="display: none"
          class="absolute left-0 mt-2 w-40 overflow-hidden rounded bg-white shadow-md"
        >
          <div>
            <a
              href="#"
              class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
            >
              Add task above
            </a>

            <a
              href="#"
              class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
            >
              Add task below
            </a>
          </div>

          <div class="border-t border-gray-200">
            <a
              href="#"
              class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
            >
              Edit task
            </a>

            <a
              href="#"
              disabled
              class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-50 disabled:text-gray-500"
            >
              Delete task
            </a>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %} {% block custom_script %}

    <script>
      $(document).ready(() => {
        console.log(`this script is running on HTML`);
      });
    </script>

    {% endblock custom_script %}
  </div>
</div>
